.cardManga {
  display: grid;
  grid-auto-flow: column;
  height: 100%;
  width: 350px;
  color: aliceblue;
}
#cardMangaImg {
  width: 300px;
  height: 400px;
}

.carousel-container {
  width: 100%;
  display: flex;
  flex-direction: column;
}
.carousel-wrapper {
  display: flex;
  width: 100%;
  position: relative;
}
.carousel-content-wrapper {
  overflow: hidden;
  width: 100%;
  height: 100%;
  gap: 5px;
}
.carousel-content {
  display: flex;
  transition: all 250ms linear;
  -ms-overflow-style: none;
  scrollbar-width: none;
}
.carousel-content::-webkit-scrollbar,
.carousel-content::-webkit-scrollbar {
  display: none;
}
.carousel-content > * {
  padding: 1px;
  flex-shrink: 0;
  flex-grow: 1;
}
.cardDescription,
.MuiCardContent-root {
  height: 180px;
  background-color: #130f13;
  color: aliceblue;
}
.description {
  display: flex;
  justify-content: left;
  text-align: center;
  gap: 15px;
}
.status {
  text-align: center;
  background-color: #cf6065;
  border-radius: 5px;
  height: 25px;
  width: 80px;
}
.left-arrow,
.right-arrow {
  position: absolute;
  z-index: 1;
  top: 50%;
  transform: translateY(-50%);
  width: 48px;
  height: 48px;
  border-radius: 24px;
  background-color: white;
  border: 1px solid #ddd;
}
.avgRatings {
  text-align: center;
  background-color: #f4841a;
  border-radius: 5px;
  height: 25px;
  width: 65px;
}
.ageR {
  text-align: center;
  background-color: #06707e;
  border-radius: 5px;
  height: 25px;
  width: 60px;
}
.left-arrow {
  left: 24px;
}
.right-arrow {
  right: 24px;
}
.carousel-content.show-2 > * {
  width: 50%;
}

.carousel-content.show-3 > * {
  width: calc(100% / 3);
}

.carousel-content.show-4 > * {
  width: calc(100% / 4);
}
#btnModal {
  background-color: transparent;
  border-style: none;
  float: right;
}

.btnModal2 {
  color: white;
  margin-top: 20px;
  font-size: 15px;
  height: 30px;
  background-color: #377375;
  border-color: #377375;
  border-radius: 5px;
}
