.App{
  margin: 0;
  padding: 0;
  box-sizing:border-box; 
  background-color: rgb(27, 25, 25);
  color: rgb(207, 219, 230);
}

.navbar{
  justify-content: space-around;
}
.d-block {
  box-shadow: 5px 5px 5px 5px #07070778;
  margin-top: 20px;
}

.carousel, .d-block {
 width: 70vw;
 height: 90vh;
 left: 120px;
 border-radius: 20px;

}
.animeList {
  padding: 40px;
  text-align: center;
}