.App {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: black;
  color: aliceblue;
}

.navbar {
  display: flex;
  justify-content: space-evenly;
  padding: 20px;
}
.containerHero {
  display: grid;
  grid-template-columns: 1fr 1fr;
  /* grid-gap: 5px; */
}
.heroAnimeImage {
  background-color: black;
  color: aliceblue;
}
.containerImg {
  margin-right: 50px;
  margin-left: auto;
  display: block;
  width: 625px;
  border-radius: 20px;
}
.heroDescription {
  background-color: black;
  color: aliceblue;
  text-align: left;
  justify-content: center;
  padding: 90px;
}
.AnimeSlider {
  margin-top: 20px;
  padding: 20px;
  /* border-color: white; */
  gap: 5px;
  border-radius: 20px;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  /* grid-template-columns: repeat(4, 1fr); */
}
/* add space in the cards - i need  make space */
.MuiCardContent-root {
  background-color: #130f13;
  color: aliceblue;
}

.center {
  height: 50%;
  width: 50%;
}
.description {
  display: flex;
  justify-content: space-around;
  text-align: center;
}

/* .avgRating {
  text-align: center;
  background-color: #5f4886;
  border-radius: 5px;
  height: 25px;
  width: 35px;
}
.ageR {
  text-align: center;
  background-color: #5f4886;
  border-radius: 5px;
  height: 25px;
  width: 50px;
}
.date {
  text-align: center;
  background-color: #5f4886;
  border-radius: 5px;
  height: 25px;
  width: 50px;
} */

.bullet {
  font-size: 45px;
  color: #6874e8;
  margin-top: -30px;
  padding: 10px;
}
