.App {
  text-align: center;
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: rgb(27, 25, 25);
  color: rgb(207, 219, 230);
}
.navbar {
  display: flex;
  justify-content: space-around;
}

.carousel {
   height: 90vh;
   display: flex;
   left: 120px;
   margin-top: 10px;
   padding: 20px;
}
.d-block {
  height: 80vh;
  width: 70vw;

  border-radius: 20px;
  justify-content: center;
  object-fit: fill;
  box-shadow: 5px 5px 5px 5px #07070778;

}
.carouselCaption {
  display: flex;
  justify-content: left;
  right: 100px; 

}
.animeList {
  padding: 30px
}